global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'forgejo'
    static_configs:
      - targets: ['forgejo:3000']
    metrics_path: '/metrics'
    scrape_interval: 30s

  - job_name: 'argocd-server'
    static_configs:
      - targets: ['argocd-server:8080']
    metrics_path: '/metrics'
    scrape_interval: 30s

  - job_name: 'registry'
    static_configs:
      - targets: ['registry:5000']
    metrics_path: '/metrics'
    scrape_interval: 30s